<!-- Sidebar Toggle (Topbar) -->
<div class="logo">
    <img src={Routes.static_path(@socket,"/images/logo.png")} alt="Logo" class="img-fluid" width="40" height="40">
    <span>Atendomator</span>
</div>
<button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
    <i class="fa fa-solid fa-bars"></i>
</button>
