<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn,"/assets/app.js")}></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <%= live_title_tag assigns[:page_title] || "App", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn,"/assets/app.css")}/>
  </head>
  <body>
    <div id="wrapper" class="d-flex">
      <%= live_render(@conn, AppWeb.TopbarLive.TopBar, container: {:nav, class: "nav-topbar", id: "top-nav"}, id: "top-nav-container") %>
      <div id="content">
        <%= live_render(@conn, AppWeb.SidebarLive.SideBar, container: {:nav, class: "sidebar-wrapper is-mobile toggled", id: "side-nav"}, id: "side-nav-container") %>
        <%= @inner_content %>
      </div>
    </div>
  </body>
</html>
