@import "coreui.min.css";
@import "style.css";
@import "circle.css";

html,body{
  font-family: 'Poppins', sans-serif;
}
body{
  margin: 0px;
  background: rgba(245,242,242,1.0);
}
.half_container{
  width: 50%;
  height: 100vh;
}
.margin-auto{
  margin-bottom: auto !important;
  margin-top: auto !important;
}
.full_screen{
  height: 100vh;
}
.formbox {
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
  padding: 0 100px;
}
@media (max-width: 850px){
  .formbox {
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    padding: 0 25px;
  }
}
.formbox .dbtn {
  border-radius: 0;
  font-size: 20px;
  font-weight: 500;
  padding-left: 30px;
  padding-right: 30px;
  border:1px solid  #f7ec4d !important;
  background: #f7ec4d !important;
  color: black !important;
  outline: none !important;
  border-radius: 5px;
  float: right;
  margin-bottom: 5px;
}
.formbox .dbtn:hover{
  background-color:#AA3C28 !important;
  color: #fff !important;
  outline: none !important;
}
.formbox a{
  font-size: 16px;
  color: #000000;
  font-style: italic;
  margin-left: 5px;
}
.formbox a:hover{
  color: #AA3C28;
}
.dbtn{
  color: #A71832 !important;
  font-weight: bold !important;
  font-family: 'Montserrat',sans-serif;
  border: 1px solid #A71832 !important;
  background-color: #fff !important;

}
.dbtn:hover{
  background-color: #A71832 !important;
  color: #fff !important;
}
.form-group {
  margin-bottom: 20px !important;
}
form .form-group label{
  font-size: 14px;
  margin-top: 15px;
  display: block;
}
/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px; }

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1; }

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc; }

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1; }

.alert p {
  margin-bottom: 0; }

.alert:empty {
  display: none; }