body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    /*color: #fff;*/
    text-align: left;
    /*background-color: #F3F6F9 !important;*/
}